* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.box {
  position: relative;
  width: 29.7px;
  height: 30px;
  border: 1px solid #000;
  background: #000;

}

.box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    
}