@import url("https://fonts.googleapis.com/css2?family=Borel&family=Handlee&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --size: 300px;
}
body {
  background: #2f363e;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
.container .notes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}
.container .notes .note {
  position: relative;
  width: var(--size);
  height: var(--size);
  background: #f7e98d;
  padding: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.container .notes .note::before {
  content: "Double Click To Remove This Note";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
  opacity: 0;
  transition: 0.5s;
}
.container .notes .note:hover:before {
  opacity: 1;
}
#create {
  position: relative;
  width: var(--size);
  height: var(--size);
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  cursor: pointer;
}
#create i {
  position: absolute;
  color: #fff;
}
.createBox {
  position: relative;
  width: var(--size);
  height: var(--size);
  z-index: 1000;
  display: none;
}

.createBox textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  padding: 20px;
  outline: none;
  font-size: 0.2em;
  resize: none;
}
.details h3 {
  font-family: "Handlee", cursive;
  user-select: none;
  font-size: 1.45em;
}
