* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
}
.fullpageMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  transition: 0.5s;
}

.fullpageMenu .banner {
  position: relative;
  min-width: 600px;
  height: 100%;
}

.fullpageMenu .banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullpageMenu .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.fullpageMenu .nav ul {
  position: relative;
}

.fullpageMenu .nav ul li {
  position: relative;
  list-style: none;
  padding: 0 20px;
  margin: 5px 0;
  overflow: hidden;
  display: table;
}

.fullpageMenu .nav ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0047;
}
.fullpageMenu .nav ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  padding-top: 12px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s;
}

.fullpageMenu .nav ul li a:before {
  content: attr(data-text);
  position: absolute;
  bottom: -100%;
  left: 0;
  color: #fff;
}

.fullpageMenu .nav ul li:hover a {
  transform: translateY(-100%);
  color: #fff;
}

.fullpageMenu  .nav  ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0078;
    transition:transform  0.5s ease-in-out ;
    transform: scaleY(0);
    transform-origin: bottom;

}

.fullpageMenu  .nav  ul li:hover:before{
    transition:transform  0.5s ease-in-out ;
    transform: scaleY(1);
    transform-origin: top;
}

