body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: url(image.jpg);
    background-attachment: fixed ;
    cursor: none;
}
#cursor{
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(Instagram-Girl-DP\ \(1\)\ \(1\).webp);
    border-radius: 50%;
    background-attachment: fixed ;
}