* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(pexels-andre-furtado-370717.jpg);
  background-size: cover;
  background-position-y:-100px  ;
  background-attachment: fixed;
  clip-path: circle(10px at center);
}
.container {
  position: absolute;
  margin-top: 200vh;
  background: #fff;
  padding: 100px;
}

.container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.title {
  position: relative;
  top: 250px;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  width: 100%;
}
